<div class="container-fluid landing-page-container carousel-container">
    <div class="centering-content-container">
             <h1 class="text-center" id="dashtag_logo">Dashtag</h1>

          <div id="myCarousel" class="carousel slide" data-ride="carousel">
             <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
             </ol>

          <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <%=link_to image_tag( "carousel_pic.png", alt: "Carousel Picture") %>
                </div>
                <div class="item">
                  <p class="text-center carousel_main_text"><span class="uppercase">Dashtag</span> Factory allows users to set up their own instance of <span class="uppercase">Dashtag</span> so they can visualize selected hashtags from Twitter and Instagram. </p>
                  <p class="text-center carousel_main_text">The best part is it's free!</p>
              </div>
          </div>
          
          <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
              <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
          </a>
          <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
              <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
          </a>
      </div>
      <div class="link-to-next-step" role= "button">
         <a href="#sign-up">Next Step
            <i class="glyphicon glyphicon-chevron-right" aria-hidden="true"></i>
         </a>

      </div>
   </div>
</div>

<div id="sign-up" class="container-fluid landing-page-container what-do-i-need-container">
   <div class="centering-content-container">
        <h2 class="section_header">Sign Up</h2>
        <div class="row text-center">
             
            <div class="col-md-4">
                    <%=link_to image_tag( "heroku.png", alt: "Heroku Picture", class: "social_media_icons")%>
                    <h3 class="social_media_name">Heroku</h3>
            </div>
            <div class="col-md-4">
                    <%=link_to image_tag( "twitter.png", alt: "Twitter Picture", class: "social_media_icons"), "https://twitter.com/", target: '_blank' %>
                    <h3 class="social_media_name">Twitter</h3>
                    <p id="note">You must add your phone number to your Twitter Account. <a href="#">Here's how.</a></p>
            </div>
            <div class="col-md-4">
                    <%=link_to image_tag( "instagram.png", alt: "Instagram Picture", class: "social_media_icons"), "https://instagram.com/", target: '_blank' %>
                    <h3 class="social_media_name">Instagram</h3>
              </div>
        </div>
          <div class="link-to-next-step">
            <a  href="#get-api">Next Step
              <i class="glyphicon glyphicon-chevron-right" aria-hidden="true"></i>
            </a>
          </div>

   </div>
</div>

<div id = "get-api" class="container-fluid landing-page-container got-it-container">
   <div class="centering-content-container">
        <h2 class="section_header">Get Access to the API</h2>
        <div class="access_to_twitter social_media_api "> 
          <ul> 
            <li>Get acess to Twitter <span class="uppercase">Api</span></li>
          </ul>
          <div class="get_directions_button"> 
                <button type="button" class="btn btn-lg"><a href="#">Click here for directions</a></button>
            </div>
        </div> 
        <div class="access_to_instagram social_media_api "> 
          <ul> 
            <li>Get acess to Instagram <span class="uppercase">Api</span></li>
          </ul>
        </div> 
          <div class="link-to-next-step">
            <a href="#launch">Next Step
            <i class="glyphicon glyphicon-chevron-right" aria-hidden="true"></i>
            </a>
          </div>
   </div>
</div>

<div id = "launch" class="container-fluid landing-page-container ready-to-launch-container">
   <div class="centering-content-container">
        <h2 class="section_header">You're ready to launch!</h2>
         <div class="solid_border">
           <p class="last_section_para">You now have everything you need to launch your own <span class="uppercase">Dashtag.</span> Just click on the button below to login into Heroku so you can customize and deploy your website.</p> 
             <div class="login_button"> 
                <button type="button" class="btn btn-lg"><a href="/login" id="login">Login to Heroku</a></button>
            </div>
         </div>
   </div>
</div>
