<div class="screenshots-container">
	<h1 class="screenshot_header">The Twitter Phone number walkthrough is not complete. <br> Please check back later. </h1>
	<ol>
		<li> Visit: https://twitter.com/ 
			<br> Click <i>Create New App </i> <br>
			<img src = "/assets/TwitterScreenshotCreateNewApp.png"/>
		</li>
		<li> Visit: https://twitter.com/ 
			<br> Click <i>Create New App </i> <br>
			<img src = "/assets/TwitterScreenshotCreateNewApp.png"/>
		</li>
		<li> Visit: https://twitter.com/ 
			<br> Click <i>Create New App </i> <br>
			<img src = "/assets/TwitterScreenshotCreateNewApp.png"/>
		</li>
	</ol>
	<a class = "btn btn-lg" href="/#get-twitter-api">Back to Steps</a>
</div> 