<div id="twitter-api-screenshots-container">
	<h1>Get Access to Twitter API</h1>
	<ol>
		<li> Visit: https://twitter.com/ 
			<br> Click <i>Create New App </i> <br>
			<img src = "/assets/TwitterScreenshotCreateNewApp.png"/>
		</li>
	</ol>
</div> 