h1#dashtag_logo {
	color: $white; 
	font-size: 120px;
	text-transform: uppercase;
}
.carousel-container {
	background-color: $jumbotron-background-color;
	height: 100%; 	
}
.landing-page-img img {
	width: 75%;
	margin-left: 20%;
	margin-top: 5%;
    background-color: $carousel-color;	

}
