$jumbotron-background-color: lighten(#28B3C7, 5%);
$carousel-color: darken(#28B3C7, 10%);
$what-do-i-need-color: lighten(#5C468B, 20%);
$get-access-to-api-color: #ee9d59;
$ready-to-launch: lighten(#D03F95, 10%);
$heroku-color: darken(#D03F95, 5%);
$heroku-hover-color: darken(#D03F95, 10%); 
$black: #2A2B2B;
$off-white: #F6F7F7; 
$white: #fff;