.got-it-container {
	background-color: $get-access-to-api-color;
	border-radius: 6px; 
	color: $white;
	padding-bottom: 160px;
}
.third_section_items {
	display: inline;
}
.social_media_api {
	background-color: $white;
	color: $get-access-to-api-color;
	font-size: 30px;
	padding: 20px 20px 20px 20px;
}
#get_access {
	margin-left: 50px;
}
#and_or {
	margin-left: 20px;
	margin-right: 20px;
	font-size: 30px;
}
.instagram_api {
	float: right;
}
