.got-it-container {
	background-color: $get-access-to-api-color;
	color: $white;
	padding-bottom: 160px;
}
.got-it-container ul {
	list-style-type: none;
}
.social_media_api {
	background-color: $white;
	color: $get-access-to-api-color;
	font-size: 30px;
	padding: 20px 20px 20px 20px;
	margin-left: 20%;
	margin-right: 20%;
	border-radius: 25px;
}
.instruction-list {
	font-size: 30px;
	text-align: left;
}