.got-it-container {
	background-color: $get-access-to-api-color;
	color: $white;
	padding-bottom: 160px;
}
.got-it-container ul {
	list-style-type: none;
}
.social_media_api {
	background-color: $white;
	color: $get-access-to-api-color;
	font-size: 30px;
	padding: 20px 20px 20px 20px;
	border-radius: 25px;
}
/*.access_to_twitter {
	display: inline-block;
	margin: 30px 0 100px 200px;
	padding: 30px 30px 30px 30px;
}*/