.ready-to-launch-container {
	background-color: $ready-to-launch;
	color: $white;
	padding-bottom: 30px;
}
.solid_border {
	 border: 5px solid #fff;
	 margin-top: 60px;
	 margin-left: 60px;
	 margin-right: 60px;
	 margin-bottom: 60px;
	 padding-left: 60px;
	 padding-right: 60px;
	 padding-bottom: 60px;
	 padding-top: 60px;
}
.last_section_para {
	font-size: 30px;
	text-align: center;
}
.uppercase {
	text-transform: uppercase;
}
.login_button {
	margin-left: 220px; 
	margin-top: 60px;
}
.button {
	box-shadow: 10px 10px 5px #888888;
}
#login {
	color: $white; 
	text-decoration: none; 
	font-size: 40px;
}