.what-do-i-need-container {
	background-color: $what-do-i-need-color;
	color: $white;
}
.section_header {
	font-size: 70px; 
	padding-bottom: 30px; 
	padding-top: 40px; 
	margin-bottom: 20px;
	font-weight: bold;
	text-align: center;
	color: $white;
}
.row {
	margin-top: 60px;
}
.social_media_name {
	text-transform: uppercase;
	font-size: 30px;
	font-weight: bold;
	margin-right: 50px;
}
.social_media_icons {
	width: 280px; 
	height: 280px;
	margin-right: 60px;
	border: 5px solid $white;
	background-color: $jumbotron-background-color;
}
.social_media_text { 
	font-size: 20px;
	padding-bottom: 20px;
}
#note {
	font-size: 16px;
}
#note a{
	color: $white;
}


