// Place all the styles related to the dashtag controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#twitter-api-screenshots-container {
	background-color: #ee9d59;
	 
}

#twitter-api-screenshots-container h1 {
	color: #f6f7f7;
	font-family: Helvetica-bold; 
	text-align: center;
}

#twitter-api-screenshots-container li {
	color: #f6f7f7;
	font-family: Helvetica;
	font-size: 14px;

}

#twitter-api-screenshots-container img {
	height: 400px;
}

