@import "carousel_section";
@import "signup_section";
@import "get_api_section";
@import "launch_section";
@import "steps";
@import "twitter_account_container";


.landing-page-container {
	height: 100%;
	min-height: 880px;	
	position: relative;
}
.centering-content-container {
	margin: 0 auto;
	width: 80%;
}
.link-to-next-step {
	font-size: 35px; 
	/*margin-right: 10%;*/
	margin-top: 10%;
	float: right;
}
.link-to-next-step > a {
	color: $white; 	
}
.link-to-next-step > a:hover {
	text-decoration: none;
}
