// Place all the styles related to the dashtag controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.screenshots-container {
	background-color: $get-access-to-api-color;
}

.screenshots-container h1 {
	color: #f6f7f7;
	font-family: Helvetica-bold; 
	text-align: center;
}

.screenshots-container li {
	color: #f6f7f7;
	font-family: Helvetica;
	font-size: 14px;

}

.screenshots-container img {
	height: 400px;
}

.screenshot_header {
	padding-top: 60px;
}


