<div class="navbar navbar-default navbar-fixed-top">
	<div class="container">
		<a href="/" class="navbar-brand">Dashtag</a>
			<ul class="nav navbar-nav navbar-right">
				<li><a href="#" class="nav-links">Documentation</a></li>
				<li><a href="#" class="nav-links">About</a></li>
				<li><a href="#" class="nav-links">Contact</a></li>
			</ul>
	</div>
</div> 

